@import "tailwindcss";



/* Hide scrollbar for gallery */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/* Thin scrollbar only */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;             
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2e2f34;  
  border-radius: 9999px;      
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;   
}

.perspective-1000 {
  perspective: 1000px;
}